:root {
  --main-green: #40e0d0;
  --dark-main-green: #009688;
  --alt-main-green:#e1fffc;
  --shadow-color: #90e0d8;
  --light-green: #40e080;
  --malachite-green: #50e040;
  --lemon-color: #a0e040;
  --yellow-color: #e0d040;
  --red-color: #e04050;
  --foshia-color: #e040a0;
  --pink-color: #d040e0;
  --blue-color: #4050e0;
  --orange-color: #e08040;
  --violet-color: #8040e0;
  --grey-color: #a7aaaa;
  --grey-light-color: #efefef;
  --white-color: #f1faf9;
  --main-purple-color: #5c48f1;
  --elements-background-color: #eeecfd;
  --element-border-color: #e0e0e1;
}
* {
  box-sizing: border-box;
  margin: 0;
}
*:focus {
  outline: none;
}
body {
  font-family: 'Cairo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--blue-color);
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--yellow-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-green);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lemon-color);
}
.page {
  background-color: var(--alt-main-green);
  min-height: 100vh;
}
#top-scroll::before {
  font-family: "fontawesome";
  content: "\f102";
  width: max-content;
  height: max-content;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 5%;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-size: 30px;
  box-shadow: 0 0 10px var(--shadow-color) inset;
  z-index: 1000;
  transition:all 5s linear !important;
}
@media (max-width: 767px) {
  #top-scroll::before {
    display: none;
  }
}

/* Start SideBar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px var(--shadow-color) inset;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  background-color: black;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid var(--white-color);
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a:active {
  background-color: var(--main-green);
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    margin-top: 13px;
    margin-bottom: 15px;
    font-size: 10px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* End SideBar */
/* Start Content */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: "fontawesome";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid var(--orange-color);
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 170px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 220px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  border-radius: 40%;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: var(--orange-color);
  width: 150px;
}
.page h1::after {
  background-color: var(--main-green);
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* End Content */
/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid var(--yellow-color);
  border-radius: 40%;
  padding: 2px;
  box-shadow: 0 0 5 var(--shadow-color);
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}
.welcome .body div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--violet-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* End Welcome Widget */
/* ====================================== */
/* Start Dashboard Page */

/* End Dashboard Page */
/* ====================================== */

/* ====================================== */
/* Start Settings Page */

/* End Settings Page */
/* ====================================== */

/* ====================================== */
/* Start Profile Page */

/* End Profile Page */
/* ====================================== */

/* ====================================== */
/* Start Projects Page */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 5px;
    margin-right: 5px;
    gap: 5px;
  }
}
@media (max-width: 767px) {
  .projects-page .project {
    display: grid;
    justify-items: center;
  }
}
.projects-page .project .head-project {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.projects-page .project .head-project  img {
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 6px;
  transform: translateY(-10px);
}
.projects-page .project .head-project .date {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .projects-page .project .head-project {
    position: relative;
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    justify-items: center;
  }
}
.projects-page .project .templates {
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 50px;
  border-top: 1px solid var(--main-green);
  border-bottom: 1px solid var(--main-green);
  display: inline-flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .projects-page .project .templates {
    flex-direction: column;
  }
}
.projects-page .project .do {
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--orange-color);
}
@media (max-width: 767px) {
  .projects-page .project .do {
    flex-direction: column;
  }
}
.projects-page .project .do span {
  padding: 3px 8px;
  margin-left: 5px;
  width: fit-content;
}
.projects-page .project .info {
  margin-top: 15px;
  padding-top: 15px;
}
@media (maxwidth: 767px) {
  .projects-page .project .info {
    flex-direction: column;
  }
}
.projects-page .project .info .prog {
  height: 8px;
  width: 260px;
  position: relative;
  border-radius: 6px;
}
.projects-page .project .info .prog span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 6px;
}
.projects-page .challenges .challenge-box .box .cover {
  border-bottom: 2px solid var(--orange-color);
}
.projects-page .challenges .challenge-box .box .info {
  padding: 0 20px;
  margin-bottom: 20px;
}
.projects-page .challenges .challenge-box .box .title {
  display: block;
  width: fit-content;
  color: black;
  font-weight: bold;
  font-size: 17px;
  transition: 0.3s;
}
.projects-page .challenges .challenge-box .box a:hover {
  color: var(--blue-color);
}
.star-difficulty {
  color: var(--grey-color);
}
.projects-page .card-trans {
  background-color: var(--grey-light-color);
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #d040e0;
}
.projects-page .card-trans .card {
  border: 1px solid var(--grey-light-color);
  height: 60%;
  top: 30%;
  bottom: 10%;
}
.projects-page .card-trans .card-title {
  border-bottom: 1px solid var(--grey-light-color);
  
}
.projects-page .card-trans title {
  color: var(--main-green);
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.card {
  width: 500px;
  height: 500px;
  background-color: var(--grey-light-color);
  border: 1px solid var(--grey-light-color);
  position: relative;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card .card-inside {
  width: 80%;
  height: 65%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 6px;
}
.card .card-inside::after {
  content: "A+";
  font-size: x-large;
  color: white;
  background-color: var(--malachite-green);
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  left: 80%;
  bottom: 7%;
}
.card .card-inside .card-title {
  position: relative;
  border-bottom: 2px solid var(--grey-color);
}
.card .card-inside .card-title img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
}
.card .card-inside .card-title title {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: xx-large;
  font-weight: bold;
  color: var(--main-green);
}
.card .card-inside .card-title p {
  margin: 5px 0px 10px 0;
  display: flex;
  justify-content: center;
  color: var(--grey-color);
  font-size: 18px;
}
.card .card-inside .card-info {
  margin: 15px 10px 0 10px;
  
}
.card .card-inside .card-info p {
  font-size: medium;
  padding: 10px;
  background-color: var(--grey-light-color);
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 0;
}
.magic-colors {
  background-color: white;
  margin: 10px;
  padding: 10px;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: large;
  color: black;
  position: relative;
}
.magic-colors h3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}
.magic-colors .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: static;
  font-weight: bold;
  margin-top: 10px;
}
.magic-colors .container h3 {
  display: block;
  font-size: medium;
  margin-top: 15px;
}
.magic-colors .container span {
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  width: 200px;
  height: 2px;
  background-color: var(--grey-color);
}
.magic-colors .container span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0.5);
  transform-origin: left;
  transition: transform 0.3s;
}
.magic-colors .container .python :before {
  background-color: var(--blue-color);
}
.magic-colors .container .html :before {
  background-color: var(--red-color);
}
.magic-colors .container .css :before {
  background-color: var(--malachite-green);
}
.magic-colors .container .js :before {
  background-color: var(--orange-color);
}
.magic-colors .container span::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 5px;
}
.magic-colors .container.box span::after {
  content: "\f45c";
  font-family: "fontawesome";
}
.magic-colors .container.circle span::after {
  content: "\f111";
  font-family: "fontawesome";
}
.magic-colors .container.triangle-up span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  transform: translate(-50% , -90%);
}
.magic-colors .container.triangle-down span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  transform: translate(-50% , 0%);
}
.magic-colors .container .python :after {
  color: var(--blue-color);
}
.magic-colors .container .html :after {
  color: var(--red-color);
}
.magic-colors .container .css :after {
  color: var(--malachite-green);
}
.magic-colors .container .js :after {
  color: var(--orange-color);
}
.magic-colors .container.triangle-up .python :after {
  border-color: transparent transparent var(--blue-color) transparent;
}
.magic-colors .container.triangle-up .html :after {
  border-color: transparent transparent var(--red-color) transparent;
}
.magic-colors .container.triangle-up .css :after {
  border-color: transparent transparent var(--malachite-green) transparent;
}
.magic-colors .container.triangle-up .js :after {
  border-color: transparent transparent var(--orange-color) transparent;
}
.magic-colors .container.triangle-down .python :after {
  border-color: var(--blue-color) transparent transparent transparent;
}
.magic-colors .container.triangle-down .html :after {
  border-color: var(--red-color) transparent transparent transparent;
}
.magic-colors .container.triangle-down .css :after {
  border-color:  var(--malachite-green) transparent transparent transparent;
}
.magic-colors .container.triangle-down .js :after {
  border-color: var(--orange-color) transparent transparent transparent;
}
.game-profile {
  width: 100%;
  background-color: var(--grey-light-color);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.game-profile .section-1 {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  display: grid;
  grid-template-columns: 140px 1fr;
}
.game-profile .section-1 .photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
}
.game-profile .section-1 .photo img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid var(--grey-color);
}
.game-profile .section-1 .photo p {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.game-profile .section-1 .photo p span {
  position: relative;
  font-size: 10px;
  padding: 15px 0;
}
.game-profile .section-1 .photo p span::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 110%;
  height: 10px;
  background-color: var(--grey-color);
  border-radius: 5px;
}
.game-profile .section-1 .photo p span::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 80%;
  height: 10px;
  background-color: var(--main-green);
  border-radius: 5px 0 0 5px;
}
.game-profile .section-1 .photo p span strong {
  color: var(--main-green);
  font-weight: bold;
}
.game-profile .section-1 .info {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.game-profile .section-1 .info p {
  font-size: 13px;
  padding-top: 10px;
}
.game-profile .section-1 .info span {
  align-self: flex-end;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.game-profile .section-2 {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}
.game-profile .section-2 div {
  color: white;
  margin: 10px 0;
  padding: 5px;
  width: max-content;
  height: 30px;
  background-color: grey;
  border: 1px solid var(--grey-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.game-profile .section-2 p {
  font-size: 10px;
  padding: 5px;
}
.game-profile .section-2 p:first-of-type {
  border-bottom: 1px solid var(--grey-light-color);
}
.game-profile .section-2 p :first-child {
  color: var(--main-green);
  font-weight: bold;
}
.game-profile .section-2 p :last-child {
  color: var(--red-color);
  font-weight: bold;
}
.game-profile .section-3 {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}
.game-profile .section-3 div:first-of-type {
  color: white;
  margin: 10px 0;
  padding: 5px;
  width: max-content;
  height: 30px;
  background-color: grey;
  border: 1px solid var(--grey-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.game-profile .section-3 img {
  width: 37px;
}
.game-profile .section-3 div .half {
  opacity: 20%;
}
.game-profile .section-4 {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}
.game-profile .section-4 div {
  color: white;
  margin: 10px 0;
  padding: 5px;
  width: max-content;
  height: 30px;
  background-color: grey;
  border: 1px solid var(--grey-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.game-profile .section-4 p {
  font-size: 10px;
}
.game-profile .section-4 p :first-child {
  color: var(--main-green);
  font-weight: bold;
}
.game-profile .section-4 p :last-child {
  color: var(--red-color);
  font-weight: bold;
}
.game-profile .section-5 {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}
.game-profile .section-5 div {
  color: white;
  margin: 10px 0;
  padding: 5px;
  width: max-content;
  height: 30px;
  background-color: grey;
  border: 1px solid var(--grey-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.game-profile .section-5 p {
  font-size: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid var(--grey-light-color);
}
.game-profile .section-5 p span {
  font-weight: bold;
  position: absolute;
  right: 0;
  font-size: 10px;
  align-self: flex-end;
  color: green;
}
.game-profile .section-5 p .red {
  color: var(--red-color);
}
.comparison {
  width: 100%;
  background-color: var(--grey-light-color);
  padding: 60px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.comparison .basic,
.comparison .prof {
  background-color: white;
  border-radius: 6px;
}
.comparison .basic h3 {
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px 6px 0 0;
  background-color: var(--red-color);
}
.comparison .basic p,
.comparison .prof p {
  position: relative;
  padding: 10px 0 10px 50px;
  font-size: 13px;
  border-bottom: 1px solid var(--grey-light-color);

}
.comparison .prof h3 {
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px 6px 0 0;
  background-color: var(--main-green);
}
.comparison .prof .save {
  position: absolute;
  right: 0;
  top: -40px;
  width: 100px;
  height: 30px;
  background: var(--main-green);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}
.comparison .prof .save::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: var(--grey-light-color);
  rotate : 45deg;
  right: -10px;
}
.comparison .prof .help {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 15px;
  height: 15px;
  font-weight: bold;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  color: white
}
.comparison p {
  font-size: 8px;
}
.comparison p.right::before {
  content: "";
  background-color: var(--blue-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
}
.comparison p.right::after {
  content: "L";
  font-size: medium;
  font-weight: bold;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 16px;
  top: 10px;
  z-index: 5;
  transform: rotate3d(100, -300, 0, -155deg);
}
.comparison p.wrong::before {
  content: "";
  background-color: var(--red-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
}
.comparison p.wrong::after {
  content: "X";
  font-size: small;
  font-weight: bold;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 16px;
  top: 12px;
  z-index: 5;
  transform: rotate3d(1, 1, 1, 2deg);
}
.tooltp-button {
  background-color: red;
  margin: 0 auto;
  padding: 10px 20px;
  display: block;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  width: 250px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.tooltp-button:hover {
  overflow: visible;
}
.tooltip {
  background-color: black;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: medium;
  width: fit-content;
  text-wrap: nowrap;
  padding: 10px 15px;
  top: -60px;
  transition: 750ms;
}
.tooltip::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px;
  border-color: black transparent transparent transparent;
}
.classic-sidebar {
  width: 300px;
  background-color: white;
  padding: 20px;
  position: relative;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.classic-sidebar .category-list {
  margin-bottom: 20px;
}
.classic-sidebar h3 {
  width: fit-content;
  padding-bottom: 20px;
  position: relative;
} 
.classic-sidebar h3::after {
  content: "";
  position: absolute;
  width: 50px;
  top:12px;
  left: 110%;
  border: 1px solid var(--blue-color);
}
.classic-sidebar .category-list p {
  padding: 10px 0;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-light-color);
}
.classic-sidebar .category-list p:last-of-type {
  border-bottom: none;
}
.classic-sidebar .category-list p span {
  background-color: var(--grey-color);
  padding: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.classic-sidebar .gallery img {
  width: 80px;
  display: inline-block;
  padding: 2px;
}
.classic-sidebar .archives p {
  padding: 10px 0 10px 20px;
  font-size: 13px;
  position: relative;
}
.classic-sidebar .archives p i {
  position: absolute;
  left: -5px;
}
.sales-products {
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.sales-products>h4 {
  display: inline-block;
  top: 0;
  left: 0;
  position: absolute;
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--dark-main-green);
  color: white;
}
.sales-products div {
  position: relative;
  margin: 40px 5PX  ;
  border: 5px solid var(--grey-light-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.sales-products img {
  width: 100%;
}
.sales-products p {
  font-size: 12px;
  margin: 0 auto;
  padding: 10px 0px 0px;
}
.sales-products div::before {
  content: "";
  position: absolute;
  border: 1px solid var(--grey-light-color);
  width: 90%;
  left: 5%;
  bottom: 8%;
}
.sales-products span {
  background-color: white;
  color: var(--dark-main-green);
  position: relative;
  font-size: 12px;
  font-weight: bold;
  margin: 5px auto;
  padding: 5px 5px;
  z-index: 2;
}
.sales-products span.sale {
  color: var(--orange-color);
  font-weight: bold;
}
.sales-products div.sale::before {
  content: "Sale!";
  font-size: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--orange-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  left: -10px;
}
.megaman {
  width: 95%;
  background-color: white;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-radius: 6px;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #292929 50%, white 50%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.megaman::before {
  content: "";
  position: absolute;
  background-color: #292929;
  width: 50%;
  height: 100%;
  right: 0;
}
.megaman img {
  scale: 80%;
  position: inherit;
  bottom: -40px;
  right: 10px;
}
.two-column {
  width: 100%;
  /* height: 350px; */
  background-color: var(--grey-light-color);
  border: 2px solid var(--main-green);
  border-radius: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.two-column .column1,
.two-column .column2 {
  width: 100%;
  height: 300px;
}
.two-column p.star::after {
  content: "*";
  position: absolute;
  color: red;
}
.two-column div {
  position: relative;
  padding: 10px;
}
.two-column input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--grey-light-color);
  box-shadow: 0px 1px 1px var(--grey-light-color);
  border-radius: 5px;
}
.two-column button {
  width: 200%;
  height: 45px;
  color: white;
  font-size: 18px;
  padding: 0;
  position: relative;
  left: 10px;
  background-color: var(--dark-main-green);
  border: 1px solid var(--dark-main-green);
  box-shadow: 0px 1px 1px var(--light-green);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-column p {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.two-column div.brieft {
  display: flex;
  flex-direction: column;
  height: 70%;
}
.two-column textarea {
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-light-color);
  box-shadow: 0px 1px 1px var(--grey-light-color);
  border-radius: 5px;
  display: flex;
  align-self: stretch;
}

.team-skills {
  width: 100%;
  border: 1px solid var(--foshia-color);
  border-radius: 5px;
}
.team-skills nav {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.team-skills nav ul {
  list-style: none;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team-skills nav ul li {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.team-skills section article {
  padding: 20px 50px;
}
.team-skills section article.xp-service {
  width: 100%;
  background-color: var(--grey-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-skills h4,
.team-skills h5 {

  padding-bottom: 10px;
}
.team-skills section article.xp-service span {
  color: var(--blue-color);
}
.team-skills section article.xp-service p {
  font-size: 10px;
  text-align: center;
}
.team-skills section article.three-icons {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-skills section article.three-icons div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.team-skills section article.three-icons img {
  width: 30px;
}
.team-skills section article.three-icons p {
  font-size: 8px;
  padding: 10px;
  color: var(--grey-color);
  text-align: center;
}
.team-skills section article.about {
  background-color: var(--grey-light-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.team-skills section article.about img {
  width: 50%;
}
.team-skills section article.about p {
  font-size: 10px;
}
.team-skills .three-count {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-skills .three-count div {
  width: 32%;
  height: 50px;
  font-size: 8px;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-skills .three-count div:first-child {
  background-color: var(--red-color);
}
.team-skills .three-count div:last-child {
  background-color: var(--dark-main-green);
}
.team-skills .three-count div span {
  font-size: 25px;
}
.team-skills .our-skills {
  background-color: var(--grey-light-color);
}
.team-skills .our-skills h4 {
  text-align: center;
}
.team-skills .our-skills h6 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.team-skills .our-skills div {
  height: 20px;
  margin: 10px 0px 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.team-skills .our-skills .skill {
  background-color: white;
  min-width: 80%;
  max-width: 90%;
}
.team-skills .our-skills span {  
  background-color: var(--blue-color);
  position: absolute;
  height: 100%;
  color: white;
  font-size: 10px;
  font-weight: bold;
  left: 0;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.team-skills footer {
  padding: 10px 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 10px;
}
.team-skills footer span {
  color: var(--lemon-color);
}

.interested-box {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid var(--main-green);
  border-radius: 5px;
  padding: 5px
}
.interested-box h4 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-purple-color);
  font-size: 14px;
  height: 50px;
  background-color: var(--elements-background-color);
}

.interested-box .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.interested-box .control label {
  width: 100%;
  height: 100px;
  background-color: white;
  border: 2px solid var(--element-border-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.interested-box .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}


.interested-box .control i {
  font-size: 45px;
  color: var(--main-purple-color);
  padding-bottom: 3px;
}
.interested-box .control label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  width: 15px;
  height: 15px;
  border: 1px solid var(--element-border-color);
  margin-top: -50px;
  margin-left: 5px;
  border-radius: 3px;
}
.interested-box .control label:hover::before  {
  font-family: "fontawesome";
  content: "\f0c8";
  position: absolute;
  left: 0;
  top: 60%;
  width: 15px;
  height: 15px;
  font-size: 11px;
  border: 1px solid rgb(92 72 241 / 80%);
  margin-top: -50px;
  margin-left: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(92 72 241 / 50%);
}
.interested-box .control label::after {
  font-family: "fontawesome";
  content: "\f0c8";
  position: absolute;
  left: 0;
  top: 60%;
  width: 15px;
  height: 15px;
  font-size: 11px;
  border: 1px solid var(--main-purple-color);
  margin-top: -50px;
  margin-left: 5px;
  border-radius: 3px;
  display: flex;
  color: var(--main-purple-color);
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.interested-box .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.interested-box .control input[type="checkbox"]:checked + label {
  border-color: rgb(92 72 241 / 80%);
  background-color: rgb(92 72 241 / 10%);
}

.picture-frame {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1px;
  justify-content: center;
  border: 1px solid var(--main-green);
  border-radius: 5px;
  position: relative;
}
.picture-frame .main-pic img {
  width: 170px;
  height: 100px;
  top: 50%;
  left: 45%;
  transform: translate(-50% , -50%);
  position: relative;
  border-radius: 3px;
}
.picture-frame .main-pic::before {
  content: "";
  width: 170px;
  height: 140px;
  top: 29%;
  left: 7%;
  position: absolute;
  border: 8px solid var(--blue-color);
}
.picture-frame .about-us {
  padding: 20px 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.picture-frame .about-us h3 {
  width: 100%;
  padding-top: 20px;
  font-size: 25px;
}
.picture-frame .about-us p:first-of-type {
  margin: 10px 0;
  padding-left: 40px;
  color: var(--blue-color);
  font-size: 12px;
  font-weight: bold;
  position: relative;
}
.picture-frame .about-us p:first-of-type::before {
  content: "_____";
  top: -5px;
  left: 5px;
  position: absolute;
  color: var(--blue-color);
}

.picture-frame .about-us p:first-of-type::after {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid var(--blue-color);
  top: 4px;
  left: 0;
  position: absolute;
  
}
.picture-frame .about-us .descripe {
  margin-top: 10px;
  padding-right: 20px;
  font-size: 10px;
  line-height: 1.5;
}
.picture-frame .about-us .icon-div {
  padding-top: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.picture-frame .about-us .icon-div div {
  display: flex;
  gap: 1px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 9px;
  padding: 15px;
  border: 1px solid var(--element-border-color);
  align-items: center;
  position: relative;
}
.picture-frame .about-us .icon-div i {
  padding: 5px;
  font-size: 30px;
  color: var(--main-purple-color);
  padding-bottom: 3px;
  position: relative;
}

/* End Projects Page */
/* ====================================== */

/* ====================================== */
/* Start Courses Page */

/* End Courses Page */
/* ====================================== */

/* ====================================== */
/* Start Friends Page */

/* End Friends Page */
/* ====================================== */

/* ====================================== */
/* Start Files Page */

/* End Files Page */
/* ====================================== */

/* ====================================== */
/* Start Plans Page */

/* End Plans Page */
/* ====================================== */

/* ====================================== */
/* Start Testing Page */
/* End Testing Page */
/* ====================================== */
