:root {
  --main-green: #40e0d0;
  --shadow-color: #90e0d8;
  --light-green: #40e080;
  --malachite-green: #50e040;
  --lemon-color: #a0e040;
  --yellow-color: #e0d040;
  --red-color: #e04050;
  --foshia-color: #e040a0;
  --pink-color: #d040e0;
  --blue-color: #4050e0;
  --orange-color: #e08040;
  --violet-color: #8040e0;
  --grey-color: #4d5555;
  --grey-light-color: #a7aaaa;
  --white-color: #e9f8f7;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: 'Cairo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--shadow-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-green);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lemon-color);
}
.page {
  background-color: var(--white-color);
  display: flex;
  min-height: 100vh;
}
/* Start SideBar */
.sidebar {
  width: 150px;
  padding: 10px;
  position: relative;
  background-color: var(--white-color);
  box-shadow: 0 0 10px var(--shadow-color) inset;
}
.sidebar > h3 {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}
